<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd 
	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- 		
	<import resource="classpath:META-INF/cxf/cxf-beans.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
 	-->
 	
	<!-- Beans que implementam os serviços -->
	<bean id="userprofile"
	     class="br.uern.aridus.ws.UserProfileManager" />
	 <bean id="dataset"
	     class="br.uern.aridus.ws.DataSetManager" />
	<bean id="alignimport"
	     class="br.uern.aridus.ws.AlignmentImport" />
	<bean id="queryexecutor"
	     class="br.uern.aridus.query.QueryExecutor" />
	<bean id="queryrewritter"
	     class="br.uern.aridus.query.QueryRewritter" />
	<bean id="queryprocess"
	     class="br.uern.aridus.ws.QueryProcess" />
	<bean id="contentviewer"
	     class="br.uern.aridus.ws.ContentViewer" />	

	<!-- Mapeamento dos endpoints WS -->	
	<jaxrs:server id="userprofilemanagerrs" address="/rs/userprofile/">
		<jaxrs:serviceBeans>
			<ref bean="userprofile" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<!-- <jaxrs:inInterceptors>
			<ref bean="securityRSInterceptor" />
		</jaxrs:inInterceptors> -->
		<jaxrs:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxrs:features>
	</jaxrs:server>
	
	<jaxws:endpoint id="userprofilemanagerws"
		implementor="br.uern.aridus.ws.UserProfileManager" 
		wsdlLocation="wsdl/userprofilemanager.wsdl" 
		address="/ws/userprofile">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
		<!-- <jaxws:inInterceptors> 
		    <ref bean="securityWSInterceptor" /> 
		</jaxws:inInterceptors> -->
	</jaxws:endpoint>
	
	<jaxrs:server id="datasetmanagerrs" address="/rs/dataset/">
		<jaxrs:serviceBeans>
			<ref bean="dataset" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<!-- <jaxrs:inInterceptors>
			<ref bean="securityRSInterceptor" />
		</jaxrs:inInterceptors> -->
		<jaxrs:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxrs:features>
	</jaxrs:server>
	
	<jaxws:endpoint id="datasetmanagerws"
		implementor="br.uern.aridus.ws.DataSetManager" 
		wsdlLocation="wsdl/datasetmanager.wsdl" 
		address="/ws/dataset/">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
		<!-- <jaxws:inInterceptors> 
		    <ref bean="securityWSInterceptor" /> 
		</jaxws:inInterceptors> -->
	</jaxws:endpoint>
	
	<jaxrs:server id="alignmentimportrs" address="/rs/alignimport/">
		<jaxrs:serviceBeans>
			<ref bean="alignimport" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<!-- <jaxrs:inInterceptors>
			<ref bean="securityRSInterceptor" />
		</jaxrs:inInterceptors> -->
		<jaxrs:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxrs:features>
	</jaxrs:server>
	
	<jaxws:endpoint id="alignmentimportws"
		implementor="br.uern.aridus.ws.AlignmentImport" 
		wsdlLocation="wsdl/alignmentimport.wsdl" 
		address="/ws/alignimport">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
		<!-- <jaxws:inInterceptors> 
		    <ref bean="securityWSInterceptor" /> 
		</jaxws:inInterceptors> -->
	</jaxws:endpoint>
	
	<jaxrs:server id="queryexecutorrs" address="/rs/queryexecutor/">
		<jaxrs:serviceBeans>
			<ref bean="queryexecutor" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<!-- <jaxrs:inInterceptors>
			<ref bean="securityRSInterceptor" />
		</jaxrs:inInterceptors> -->
		<jaxrs:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxrs:features>
	</jaxrs:server>
	
	<jaxws:endpoint id="queryexecutorws"
		implementor="br.uern.aridus.query.QueryExecutor" 
		wsdlLocation="wsdl/queryexecutor.wsdl" 
		address="/ws/queryexecutor">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
		<!-- <jaxws:inInterceptors> 
		    <ref bean="securityWSInterceptor" /> 
		</jaxws:inInterceptors> -->
	</jaxws:endpoint>
	
	<jaxrs:server id="queryrewritterrs" address="/rs/queryrewritter/">
		<jaxrs:serviceBeans>
			<ref bean="queryrewritter" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<!-- <jaxrs:inInterceptors>
			<ref bean="securityRSInterceptor" />
		</jaxrs:inInterceptors> -->
		<jaxrs:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxrs:features>
	</jaxrs:server>
	
	<jaxws:endpoint id="queryrewritterws"
		implementor="br.uern.aridus.query.QueryRewritter" 
		wsdlLocation="wsdl/queryrewritter.wsdl" 
		address="/ws/queryrewritter">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
		<!-- <jaxws:inInterceptors> 
		    <ref bean="securityWSInterceptor" /> 
		</jaxws:inInterceptors> -->
	</jaxws:endpoint>
	
	<jaxrs:server id="queryprocessrs" address="/rs/queryprocess/">
		<jaxrs:serviceBeans>
			<ref bean="queryprocess" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<!-- <jaxrs:inInterceptors>
			<ref bean="securityRSInterceptor" />
		</jaxrs:inInterceptors> -->
		<jaxrs:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxrs:features>
	</jaxrs:server>
	
	<jaxrs:server id="contentviewerrs" address="/rs/contentviewer/">
		<jaxrs:serviceBeans>
			<ref bean="contentviewer" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<!-- <jaxrs:inInterceptors>
			<ref bean="securityRSInterceptor" />
		</jaxrs:inInterceptors> -->
		<jaxrs:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxrs:features>
	</jaxrs:server>
</beans>
